# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.vscode

# envs
.env.local
.env.prod
.env.dev

# logs
database-debug.log
firebase-debug.log
firestore-debug.log
